@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html,
body,
main {
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: hsl(var(--color-red-400)); /* Couleur bleue */
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem;
}

.swiper-pagination-bullet-active {
  background-color: #3b82f6 !important;
}
